# Einf√ºhrung Data Science - Live Coding 2 (MMI)

### Find the current working directory

In [11]:
import os

current_directory = os.getcwd()
print(f"\nCurrent working directory: {current_directory}\n")

Current working directory: c:\Users\kevin\Documents\MMI\Data Science\data_science_course\notebooks\Moodle notebooks

### Load the data using pandas

Here we use a scraped dataset from IMDB (taken [from Kaggle](https://www.kaggle.com/datasets/harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows/data)).

Load the data using pandas. Set the encoding to "**latin-1**".

In [12]:
os.getcwd()

'c:\\Users\\kevin\\Documents\\MMI\\Data Science\\data_science_course\\notebooks\\Moodle notebooks'

In [13]:
import pandas as pd

path_data = "c:\\Users\\kevin\\Documents\\MMI\\Data Science\\data_science_course\\datasets"
filename = os.path.join(path_data, "imdb_top_1000.csv")
data = pd.read_csv(filename, encoding="latin-1")

### Inspect the dataset

Preview of the first five rows of the dataset using **head()**.

In [14]:
# your code here

Preview of the first ten rows of the dataset using **head()**.

In [15]:
# your code here

Check out the column names.

In [16]:
# your code here

Count the non-null values for each column in the dataset using **count()**.

In [17]:
# your code here

Get an overview of the dataset's structure, including column names, data types, and number of non-null values using **info()**.

In [18]:
# your code here

Get summary statistics for the **numerical** columns using **describe()**.

In [19]:
# your code here

How many movies genres are there? Use **value_counts()**.

In [20]:
# your code here

Count the number of movies that include the genre "comedy". Check Pandas Docs for "**str.contains()**"

In [21]:
mask = # your code here (condition)
data[mask]

SyntaxError: invalid syntax (1798386264.py, line 1)

An alternative approach would be to split the genre entries using `.str.split(...)` with `expand=True`.

In [ ]:
new_columns = data.Genre.str.split(", ", expand=True)
new_columns.columns = ["Genre1", "Genre2", "Genre3"]
new_columns

Now count all Genres in the first of those columns using `.value_counts()`.

In [ ]:
# your code here

### Movie run time

- Convert the runtime column so that it only contains the values in minutes (as integer).

In [ ]:
# your code here

In [ ]:
# replace original column with converted values
data["Runtime"] = # your code here

Plot the distribution of the run times using `.plot(kind="hist")`.

In [ ]:
# your code here

Get all movies that are longer than 200 min.

In [ ]:
mask = # your code here (condition)
data[mask]

Select all movies from 1950, 1951, and 1952.

In [ ]:
mask = # your code here (condition)
data[mask]

How many movies in the dataset were directed by Alfred Hitchcock. And are those indeed correct?

In [ ]:
mask = # your code here (condition)
data[mask]

Compute the average runtime of movies released in 2020

In [ ]:
mask = # your code here (condition)
df[mask]

Examine the histogram for the runtime column.

In [ ]:
# your code

## Inner & Outer Merge

Have a look at DataFrame 1 and 2

In [ ]:
# create example DataFrame 1
df1 = pd.DataFrame({
    'Title': ['Enter the Anime', 'The App', 'Drive', 'Paradox', 'The Call'],
    'Genre': ['Documentary', 'Science fiction/Drama', 'Action', 'Musical/Western/Fantasy', 'Drama'],
    'Language': ['English/Japanese', 'Italian', 'Hindi', 'English', 'Korean']
})

df1

In [ ]:
# create example DataFrame 2
df2 = pd.DataFrame({
    'Language': ['English/Japanese', 'Italian', 'Spanish', 'Hindi', 'Korean'],
    'Premiere Year': [2019, 2020, 2021, 2018, 2020],
    'Runtime (mins)': [58, 79, 147, 73, 112]
})

df2

Perform an inner merge on the "Language" column.

In [ ]:
inner_merged = # your code here
print("Inner Merged DataFrame:")

inner_merged

Perform an outer merge on the "Language" column.

In [ ]:
outer_merged = # your code here
print("\nOuter Merged DataFrame:")

outer_merged

Add another "Language" entry called "Italian" to df1 and examine the merge behavior. 

- What problem arises?
- How can you fix this to manage another inner and outer merge?
- What are the differences for inner and outer merge?

In [ ]:
# Your Code here

Use the DataFrame that now includes NaN values. Drop all rows with NaN-Values

In [ ]:
# your code here

Drop the Column "Premiere Year"

In [ ]:
# your code here